@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans&display=swap');

:root {
  --primaryColor: #5fb7ea;
  --primaryRGBA: rgba(0,0,0,0.3);
  --mainGrey: #fafafa;
  --darkGrey: #5f5e5e;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainTransition: all  0.3s ease-in-out;
  --mainSpacing: 0.3rem;

}

body {
  font-family: 'Open Sans', sans-serif;
  background: var(--mainGrey);
  color: var(--mainBlack);
  /* font-family: 'Montserrat', sans-serif; */
}

a {
  text-decoration:  none !important;
}

.text-main {
  color: var(--primaryColor);
}

.text-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.main-link {
  padding: 0.5rem 1rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  outline: 2px solid var(--primaryColor);
  outline-offset: 4px;
  transition: var(--mainTransition);
  border: none;
}

.main-link:hover { 
  color: var(--primaryColor);
  background: var(--mainWhite);
  outline-color: var(--mainWhite);
}

.cart-icon {
  cursor: pointer;
}